
:root {
    --ink-color: 0, 0, 0;
    --page-background-color: 248, 249, 250;
    --header-background-color: 172, 173, 174;
    --section-background-color: 255, 255, 255;
    --button-background-color: 230, 230, 230;

    --header-size: 32px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: rgb(var(--ink-color));
    font-family: system-ui, sans;
    background-color: rgb(var(--page-background-color));
}

header {
    display: flex;
    background-color: rgb(var(--header-background-color));
}

header div {
    margin-left: 8px;
    line-height: var(--header-size);

    color: white;
}

.header-logo {
    height: var(--header-size);
}

.header-logo img {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 8px;
}

.header-logo img.front {
    position: absolute;
    z-index: 5;
}

.header-logo img.backdrop-glow {
    position: relative;
    z-index: 0;

    filter: blur(8px) saturate(3);
    opacity: 0.5;
}


#main-content {
    display: flex;
    min-height: calc(100vh - var(--header-size));
    gap: 19px;
    flex-wrap: wrap;
    align-content: center;

    padding: 20px;
}

.section {
    flex-grow: 1;
    padding: 16px;
    padding-top: 8px;
    min-width: 30%;
    flex-basis: 0%;

    background-color: rgb(var(--section-background-color));
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 rgba(51,51,51,.1);
    border: 1px solid rgba(255,255,255,0.05);
}

.section.empty {
    opacity: 0;
}

h2 {
    position: relative;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.links-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(60px,120px));
}

.link-button {
    display: block;
    position: relative;
    padding: 5px;
    margin: 2px 0;
    min-width: 60px;
    max-width: 128px;

    color: rgb(var(--ink-color));
    border-radius: 8px;
    text-decoration: none;
    font-size: 11px;
    text-align: center;

    transition: transform 0.1s;
}

.link-button:hover {
    z-index: 10;

    background-color: rgba(var(--button-background-color), 0.2);
    backdrop-filter: blur(10px);
    text-decoration: underline;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);

    transform: scale(1.5);
}

.icon {
/*    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.1));*/
    margin: auto;
    width: 32px;
    height: 32px;
}

.icon img {
    width: 32px;
    height: 32px;
}

.icon img.front {
    position: absolute;
    z-index: 5;

    /* The folling mask is an exagerated version of the Apple one */    
    mask-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgdmVyc2lvbj0iMS4xIgogICB3aWR0aD0iMTIwIgogICBoZWlnaHQ9IjEyMCIKICAgdmlld0JveD0iMCAwIDEyMCAxMjAiCiAgIGlkPSJzdmcxIgogICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxkZWZzCiAgICAgaWQ9ImRlZnMxIiAvPgogIDxwYXRoCiAgICAgZD0iTSAxOTYuNywzMDAgQyAxNzIuMjMzMzMsMzAwIDE2MCwyODcuNzY2NjcgMTYwLDI2My4zIHYgLTQ2LjYgYyAwLC0yNC40NjY2NyAxMi4yMzMzMywtMzYuNyAzNi43LC0zNi43IGggNDYuNiBjIDI0LjQ2NjY3LDAgMzYuNywxMi4yMzMzMyAzNi43LDM2LjcgdiA0Ni42IGMgMCwyNC40NjY2NyAtMTIuMjMzMzMsMzYuNyAtMzYuNywzNi43IHoiCiAgICAgaWQ9InBhdGgxIgogICAgIHN0eWxlPSJtaXgtYmxlbmQtbW9kZTpub3JtYWw7ZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxIgogICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNjAsLTE4MCkiIC8+Cjwvc3ZnPgo=");
    mask-mode: luminance;
    mask-size: contain;
}

.icon img.backdrop-glow {
    position: relative;
    z-index: 0;
    
    filter: blur(15px) saturate(3);
    opacity: 0.15;
}

.link-button:hover img.backdrop-glow {
    opacity: 0.3;
}

.icon-title {
    position: relative;
    margin: auto;
    margin-top: 4px;

    z-index: 5;

    text-overflow: ellipsis;
    white-space:nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-wrap: break-word;
    text-wrap-mode: nowrap;
}

@media screen and (max-width: 800px) {
    #main-content {
        gap: 8px;
    }
}


@media screen and (min-width: 1200px) {
    #main-content {
        margin: auto;
        max-width: 1200px;
    }
}


/**
 * Dark mode
 * This is intended to respect operating system settings.
 * It may interfer with specialized browser extensions like Dark Reader.
 */

@media (prefers-color-scheme: dark) {
    :root {
        --ink-color: 249, 249, 249;
        --header-background-color: 31, 31, 31;
        --page-background-color: 34, 35, 34;
        --section-background-color: 44, 44, 44;
        --button-background-color: 80, 80, 80;
    }

    body {
    }

    .icon img.backdrop-glow {
        opacity: 0.5;
    }

    .link-button:hover img.backdrop-glow {
        opacity: 0.8;
    }
}


/**
 * Reduce motion of moving elements
 * See: https://css-tricks.com/introduction-reduced-motion-media-query/
 */

@media (prefers-reduced-motion: reduce) {
    .link-button {
        transition: transform 0s;
    }
}
