:root {
    --ink-color: 0, 0, 0;
    --page-background-color: 248, 249, 250;
    --header-background-color: 172, 173, 174;
    --clock-background-color: 238, 238, 238;
    --highlight-background-color: 153, 153, 153;

    --button-background-color: 238, 238, 238;
    --button-hover-background-color: 200, 200, 200;
    --button-active-background-color: 160, 160, 160;

    --close-button-background-color: 238, 238, 238;
    --close-button-hover-background-color: 255, 180, 180;
    --close-button-active-background-color: 255, 64, 64;

    --header-size: 32px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: rgb(var(--ink-color));
    font-family: "Montserrat", system-ui, sans;
    background-color: rgb(var(--page-background-color));
}

header {
    display: flex;
    background-color: rgb(var(--header-background-color));
}

header div {
    margin-left: 8px;
    line-height: var(--header-size);

    color: white;
}

.header-logo {
    height: var(--header-size);
}

.header-logo img {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 8px;
}

.header-logo img.front {
    position: absolute;
    z-index: 5;
}

.header-logo img.backdrop-glow {
    position: relative;
    z-index: 0;

    filter: blur(8px) saturate(3);
    opacity: 0.5;
}


#main-content {
    display: flex;
    min-height: calc(100vh - var(--header-size));
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    padding: 4px;
}

.section {
    position: relative;
    flex-grow: 0;
    padding: 8px 20px;
    min-width: 72px;

    background-color: rgb(var(--clock-background-color));
    border-radius: 0px;
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05); */
    text-align: right;
    cursor: default;
}

.info.label {
    margin-bottom: -1px;

    font-weight: bold;
}

.section.highlight {
    color: white;
    background-color: rgb(var(--highlight-background-color));
}

.section.empty {
    opacity: 0;
}

.section .close_button {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -3px;
    right: -3px;
    border: none;

    opacity: 0;
    color: rgb(var(--ink-color));
    border-radius: 50%;
    background-color: rgb(var(--close-button-background-color));
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.digital_clock {
    transition: all 0.2s ease-in-out;
}

.section:hover .digital_clock {
    transform: translateY(-8px);
    text-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.section:hover .close_button {
    opacity: 1;
}

.section .close_button:hover, .section .close_button:focus {
    opacity: 1;
    background-color: rgb(var(--close-button-hover-background-color));
}


.section .close_button:active {
    opacity: 1;
    background-color: rgb(var(--close-button-active-background-color));
}

.section:has(> .add_button) {
    padding: 0;
}

.standard_button {
    border: none;
    color: rgb(var(--ink-color));
    background-color: rgb(var(--button-background-color));
    text-align: center;
    font-size: 2em;
}

.standard_button:hover, .standard_button:focus {
    background-color: rgb(var(--button-hover-background-color));
}

.standard_button:active {
    background-color: rgb(var(--button-active-background-color));
}

.add_button {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

#reset_button {
    position: absolute;
    top: 4px;
    left: 4px;

    font-size: 1.5em;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 900px) {
    #main-content {
        gap: 6px;
    }
}


/**
 * Dark mode
 * This is intended to respect operating system settings.
 * It may interfer with specialized browser extensions like Dark Reader.
 */

@media (prefers-color-scheme: dark) {
    :root {
        --ink-color: 249, 249, 249;
        --header-background-color: 31, 31, 31;
        --page-background-color: 34, 35, 34;
        --clock-background-color: 48, 48, 48;
        --highlight-background-color: 96, 96, 96;

        --button-background-color: 48, 48, 48;
        --button-hover-background-color: 96, 96, 96;
        --button-active-background-color: 48, 48, 48;

        --close-button-background-color: 192, 48, 48;
        --close-button-hover-background-color: 255, 140, 140;
        --close-button-active-background-color: 160, 32, 32;
    }

    /* body {} */

    .icon img.backdrop-glow {
        opacity: 0.5;
    }

    .link-button:hover img.backdrop-glow {
        opacity: 0.8;
    }
}


/**
 * Reduce motion of moving elements
 * See: https://css-tricks.com/introduction-reduced-motion-media-query/
 */

@media (prefers-reduced-motion: reduce) {
    .link-button {
        transition: transform 0s;
    }
}